In [1]:
for x in range(6):
    print(x)

0
1
2
3
4
5

In [2]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [3]:
# start value(2) and end value(6)
for i in range(2,6):
    print(i)
# start value 2 i printed end value 6 is not printed due to for loop is (n-1)

2
3
4
5

In [4]:
# start value is 1,end value 10 and step value 2
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [5]:
fruits=["apple","orange","mango","grape"]
for x in fruits:
    print(x)

apple
orange
mango
grape

In [1]:
str="balaji"
x=" "
for i in str:
    x+=i
    print(x)

 b
 ba
 bal
 bala
 balaj
 balaji

In [6]:
#for loop using else method
for  x in range(6):
    print(x)
else:
    print("finally finished")

0
1
2
3
4
5
finally finished

In [10]:
#input method in for loop
for i in range(1):
    a=int(input("enter the value of A"))
    b=int(input("enter the value of B"))
    print(a+b)

13

In [11]:
list=[5,4,6,2]
for i in list:
    print(i*i)

25
16
36
4

In [15]:
#multiple using for loop in a list of elements 
list=[1,2,3,4,5]
x=1
for i in list:
    x=x*i
print(x)

120

In [16]:
list=[1,2,3,4,5]
x=0
for x in list:
    x=x+i
print(x)

10

In [17]:
#continue statement in for loop
fruits=["apple","banana","cherry","plum","pumpkin"]
for i in fruits:
    if i == "banana":
        break
    print(i)

apple

In [18]:
vegetables=["potato","tomato","spinach","ladysfinger","mintleaves"]
for i in vegetables:
    if i == "spinach":
        continue
    print(i)

potato
tomato
ladysfinger
mintleaves

#NESTED FOR LOOPS

In [19]:
#print each adj for each fruits
adj=["red","big","tasty"]
fruits=["apple","banana","cherry"]
for x in adj:
    for y in fruits:
        print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [20]:
for i in range(5):
    print()
    for j in range(i):
        print("*",end=" ")

*
* *
* * *
* * * *

In [22]:
for i in range(5):
    print()
    for j in range(i):
        print("*",end=" ")
for i in range(5,0,-1):
    print()
    for j in range(i):
        print("*",end=" ")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [23]:
for i in range(1,5):
    print()
    for  j in range(i):
        print(j,end=" ")

0
0 1
0 1 2
0 1 2 3

In [26]:
for i in range(5,0,-1):
    print()
    for j in range(i):
        print(j,end=" ")

0 1 2 3 4
0 1 2 3
0 1 2
0 1
0